*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Amsterdam Two';
}

h1 {
    font-family: 'Amsterdam Two_ttf';
    display: block;
    text-align: center;
    font-size: 6rem;
    margin: 1rem;
    
}

h1, h4, h2{
    transition: 1s;
}
main h4{
    text-align: center;
    display: block;
    font-weight: 200;
    font-size: 3rem;
    margin: 1rem;
}
h2,h3,h4,p {
    font-family: 'Open Sans Condensed', sans-serif;
}
.container-promos h2{
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    margin: 1rem;
}
ul, li, a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: #000;    
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-bar img{
    width: 3rem;
    height: auto;
    margin: 5px;
}
.nav-bar ul {
    text-align: center;
    
}
.nav-bar li {
    display: inline-block;
    margin: 1rem;
}

/*vista movil*/
@media only screen and (max-width:599px) {
    h1{font-family: 'Amsterdam Two_ttf';
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 4rem;
        margin: 1rem;
    }
    .container-products {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px 10px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6"
        "producto7"
        "producto8";
    }
   

  .container-products img {
      width: 20rem;
      height: auto;
  }

  .producto1 {
  
    grid-template-rows: 1fr 1fr;
    justify-self: center;    
    align-self: center;
    grid-auto-flow: row;
    grid-area: producto1;
    
  }
  
  .producto2 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto2;
  }
  
  .producto3 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto3;
  }
  
  .producto4 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto4;
  }
  
  .producto5 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto5;
  }
  
  .producto6 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto6;
  }
  
  .producto7 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto7;
  }
  
  .producto8 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto8;
  }
}
/*VISTA TABLET*/
@media only screen and (min-width:600px) and (max-width:1023px) {
    .container-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
       grid-template-rows: auto auto;
        gap: 10px 10px;
       grid-auto-flow: row;
        justify-content: center;
       align-content: center;
       justify-items: center;
      align-items: center;
      grid-template-areas:
        "producto1 producto2"
        "producto3 producto4"
        "producto5 producto6"
        "producto7 producto8";
    }
   

  .container-products img {
      width: 15rem;
      height: auto;
  }

  .producto1 {
  
    grid-template-rows: 1fr 1fr;
    justify-self: center;    
    align-self: center;
    grid-auto-flow: row;
    grid-area: producto1;
    
  }
  
  .producto2 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto2;
  }
  
  .producto3 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto3;
  }
  
  .producto4 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto4;
  }
  
  .producto5 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto5;
  }
  
  .producto6 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto6;
  }
  
  .producto7 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto7;
  }
  
  .producto8 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto8;
  }
}

/*VISTA ESCRITORIO*/
@media only screen and (min-width: 1024px) {
  .container-products {
       display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: auto auto auto;
        gap: 10px 10px;
       grid-auto-flow: row;
        justify-content: center;
       align-content: center;
       justify-items: center;
       align-items: center;
        grid-template-areas:
        "producto1 producto2 producto3"
        "producto4 producto5 producto6"
        "producto7 producto8 none";  
    }
    
   

  .container-products img {
      width: 20rem;
      height: auto;
  }
  

  .producto1 {
  
    grid-template-rows: 1fr 1fr;
    justify-self: center;    
    align-self: center;
    grid-auto-flow: row;
    grid-area: producto1;
    
  }
  
  .producto2 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto2;
  }
  
  .producto3 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto3;
  }
  
  .producto4 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto4;
  }
  
  .producto5 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto5;
  }
  
  .producto6 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto6;
  }
  
  .producto7 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto7;
  }
  
  .producto8 {
  
    justify-self: center;
    align-self: center;
    grid-area: producto8;
  }
 
}
.talles-blusas img{
  width: 30rem;
    height: auto;
    margin: auto auto;   
}
.talles-blusas {
  display: grid;
  grid-template-columns: 1fr 1fr;
 grid-template-rows: auto auto;
  gap: 10px 10px;
 grid-auto-flow: row;
  justify-content: center;
 align-content: center;
 justify-items: center;
 align-items: center;
  grid-template-areas:
  "none talles-blusas"
}
.talles-blusas {

  grid-template-rows: 1fr 1fr;
  justify-self: center;    
  align-self: center;
  grid-auto-flow: row;
  grid-area: talles-blusas;
  
}
.talles-blusas:hover{
  animation: varios 5s;
}
@keyframes varios{
 0%{background-color: aliceblue;}
  50%{background-color: bisque;}
  
  100%{ background-color: white;

  }
}

/*.container-products ul li a{
    display: inline-flex;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
}

.container-products img {
    display: inline-flex;
    width: 12rem;
    height: 100%;
}*/
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-footer ul li{
    margin: 1.5rem;
    display: inline-block;
    text-align: center; 
    justify-content: center;
    align-content: center;   
}

.container-sobrenosotros h2{
    margin: 4rem;
    text-align: center;
    font-size: 4rem;
}
.container-sobrenosotros h4{
    margin: 4rem;
}
.container-sobrenosotros p{
    margin: 2rem 4rem;
}

.container-form label{
    font-family: 'Open Sans Condensed';
    font-weight: 400;
}
.container-form input{
    font-family: 'Open Sans Condensed';
    font-weight: 200;
}
.container-form textarea{
    font-family: 'Open Sans Condensed';
    font-weight: 200;
}

.container-contactos h2{
    margin: 4rem;
    text-align: center;
    font-size: 4rem;
}
.container-form {
    margin: 1.5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    
}


.container-catalogo h2{
    margin: 1rem;
    font-weight: 400;
}
.container-catalogo select option{
    margin: 1.5rem;
    font-family: 'Open Sans Condensed';
    font-weight: 400;
}
.container-catalogo select {
    margin: 1.5rem;
    font-family: 'Open Sans Condensed';
    font-size: 1.5rem;
}
.container-sobrenosotros {
    background-image: linear-gradient(to left, antiquewhite, white);
}




@media only screen and (max-width: 599px){
    header {
        background-color:rgb(250, 240, 226);
    }
}
@media only screen and (min-width: 600px) and (max-width: 1023px){
    header{
        background-color:cornsilk;
    }
    .container-footer{
      background-color:cornsilk;
    }
}
@media only screen and (min-width: 1024px){
    header {
        background-color: white;
    }
  }